<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=gbk" />
		<meta name="author" content="www.frebsite.nl" />
		<meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />

		<title>findlove</title>
		<link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon">
		<link type="text/css" rel="stylesheet" href="/static/public/css/style.css" />
		<link type="text/css" rel="stylesheet" href="/static/public/css/gallery.css" />
		 <link rel="stylesheet" href="/static/public/css/jquery.mmenu.all.css" />
		 <link rel="stylesheet" href="/static/public/css/foundation.css" />
		  <link rel="stylesheet" href="/static/public/css/imgviewer.css" />

	</head>
	<body class="o-page p-product-single">
		<div id="page">
			<div id="header">
				<div class="header-content">
					<a href="index.html" class="p-link-home" style="right: 20px;"><i class="fa fa-home"></i></a>
					<a class="menu-btn" href="#menu"></a>
					<a href="javascript:history.back();" class="p-link-back"><i class="fa fa-arrow-left"></i></a>
				</div>
			</div>
			<div class="bannerPane" style="height:200px">
				<div class="overlay"></div>
				<div class="s-banner-content">
					张全蛋
				</div>
			</div>
			
			<div id="content">
				
				<article>
					
					<div class="prod-single-content-h">
						<div class="prod-pricePane">
							<span class="last-price">9.95</span>
							<span class="current-price">6.95</span>
							<span class="currency">$</span>
						</div>
						
						<div class="products-ratings">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-half-empty"></i>
						</div>
					</div>
					<div class="prod-single-content">
						<h2><a href="#">Single Product</a></h2>
						<br/>
						<p>
							Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</p>
					</div>
					
				</article>
				
			<div id="photos"></div>
			
			<div class="product-single-meta">
				<div class="p-single-meta-likes">
					<h4>Like</h4>
					<i class="fa fa-thumbs-up"></i> 21
				</div>

				<div class="p-single-meta-share">
					<h4>Share</h4>
					<a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i
						class="fa fa-twitter"></i></a> <a href="#"><i
						class="fa fa-google-plus"></i></a>
				</div>

			</div>
		</div>
			<div class="subFooter">Copyright 2013. All rights reserved.</div>
		</div>
		<script src="http://www.xipwang.cn/js/zepto.min.js"></script>
		<script src="/static/public/js/gallery.js"></script>   
    	<script src="/static/public/js/imgviewer.js"></script>
    	<script src="/static/public/js/candidate.js"></script>
	</body>
</html>