<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=no" />
		<title>findlove</title>
		<link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon">
		<link type="text/css" rel="stylesheet" href="/static/public/css/style.css" />
		<link type="text/css" rel="stylesheet" href="/static/public/css/gallery.css" />
		 <link rel="stylesheet" href="/static/public/css/jquery.mmenu.all.css" />
		 <link rel="stylesheet" href="/static/public/css/foundation.css" />
		  <link rel="stylesheet" href="/static/public/css/imgviewer.css" />
		  <link href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

	</head>
	<body class="o-page p-product-single">
		<div id="page">
			<div id="header">
				<div class="header-content">
					<a href="/index" class="p-link-home" style="right: 20px;"><i class="fa fa-home"></i></a>
					<a class="menu-btn" href="#menu"></a>
					<a href="javascript:history.back();" class="p-link-back"><i class="fa fa-arrow-left"></i></a>
				</div>
			</div>
			<div class="bannerPane" style="height:200px">
				<div class="overlay"></div>
				<div class="s-banner-content" id="uname">
					张全蛋
				</div>
			</div>
			
			<div id="content">
				
				<article>
					<div id="introduction" class="row">
						<div class="mobile-two" style="padding:0px;width: 48% !important;">
							<div class="intro"><span class="intro-item"><i class="fa fa-clock-o"></i>年龄</span><span class="intro-item2" id="age">25</span></div>
							<div class="intro"><span class="intro-item"><i class="fa fa-male"></i>身高</span><span class="intro-item2" id="height">170cm</span></div>
							<div class="intro"><span class="intro-item"><i class="fa fa-home"></i>现居</span><span class="intro-item2" id="location">上海浦东</span></div>
							<div class="intro"><span class="intro-item"><i class="fa fa-university"></i>大学</span><span class="intro-item2" id="college">蓝翔技校</span></div>
							<div class="intro"><span class="intro-item"><i class="fa fa-leaf"></i>家乡</span><span class="intro-item2"id="hometown">河北石家庄三里屯而</span></div>
						</div>
						<div class="mobile-two" style="padding:0px;width: 48% !important;">
							<div class="intro"><span class="intro-item"><i class="fa fa-star"></i>星座</span><span class="intro-item2" id="constellation">射手座</span></div>
							<div class="intro"><span class="intro-item"><i class="fa fa-balance-scale"></i>体重</span><span class="intro-item2" id="weight">60kg</span></div>
							<div class="intro"><span class="intro-item"><i class="fa fa-suitcase"></i>职业</span><span class="intro-item2" id="job">工程师</span></div>
							<div class="intro"><span class="intro-item"><i class="fa fa-mortar-board"></i>学历</span><span class="intro-item2" id="education">硕士</span></div>
							<div class="intro"><span class="intro-item"><i class="fa fa-soccer-ball-o"></i>爱好</span><span class="intro-item2" id="hobby">足球、乒乓球还有很多</span></div>
						</div>
					</div>
					<!-- <div class="prod-single-content-h">
						<div class="prod-pricePane">
							<span class="last-price">9.95</span>
							<span class="current-price">6.95</span>
							<span class="currency">$</span>
						</div>
						
						<div class="products-ratings">
							<i class="fa fa-star"></i>
						</div>
					</div> -->
					<div class="prod-single-content">
						<h2><a href="#">寻找那个另一半</a></h2>
						<br/>
						<p>
							Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</p>
					</div>
					
				</article>
				
			<div id="photos"></div>
			
			<div class="product-single-meta">
				<div class="p-single-meta-likes">
					<h4>Like</h4>
					<i class="fa fa-thumbs-up"></i> 21
				</div>

				<div class="p-single-meta-share">
					<h4>Share</h4>
					<a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i
						class="fa fa-twitter"></i></a> <a href="#"><i
						class="fa fa-google-plus"></i></a>
				</div>

			</div>
		</div>
			<div class="subFooter">Copyright 2013. All rights reserved.</div>
		</div>
		<script src="http://www.xipwang.cn/js/zepto.min.js"></script>
		<script src="/static/public/js/gallery.js"></script>   
    	<script src="/static/public/js/imgviewer.js"></script>
    	<script src="/static/public/js/candidate.js"></script>
	</body>
</html>